.header{
    img{
      background-color: #cfd9df;
      margin: none;
      height: 34px;
      mix-blend-mode: multiply;
    }
  }
.wrap-tab1{

	background-image: linear-gradient(to top, #bfc2c7 0%, #314f91 100%);
	display: flex;
	// align-items: center;
	// justify-content: center;
	height: 100%;
  overflow: hidden;
  
}

.item-content {
  background-color: linear-gradient(to top, #bfc2c7 0%, #314f91 100%);
}