<ion-header>
  <ion-toolbar>
     <ion-buttons slot="primary">
<ion-button (click)="logout()"><ion-icon slot="icon-only" name="log-out"></ion-icon></ion-button></ion-buttons>
    <ion-title>
      <img src="assets/images/TrendzyLogo2.png"> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll = "true">

<div class = "wrap-tab1">
<!-- <ion-scroll scrollY="true" style="width: 100%; height: 100%;"> -->
<ion-grid>
  <ion-col no-padding>
  <ion-card>
    <div id="align">
      Featured Today: <ion-datetime id = "date" displayFormat="MM/DD/YYYY" placeholder="{{date}}" [(ngModel)]="date"></ion-datetime>   
    </div>
  </ion-card>
</ion-col>
<!-- <ion-title id = "title1"> FEATURED: </ion-title> -->
  <ion-row>
    <ion-col>

      <ion-card *ngFor="let article of data?.articles.slice(0,1)" (click)="onGoToNewsSinglePage(article)">
          <ion-img [src]="article.urlToImage"></ion-img>
          <ion-card-content>
          <ion-card-title>{{article.title}}</ion-card-title>
  
          <p>{{article.description}}</p>
        </ion-card-content>
      </ion-card>
   

    <!-- <ion-col>
      
        <ion-infinite-scroll (ionInfinite)="loadMoreNews($event)">
          <ion-infinite-scroll-content loadingSpinner="bubble" loadingText="load news.."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
  </ion-col> -->

   <ion-card *ngFor = "let model of models.slice(0,1)" (click) = "goToModelPage(model)">
       <ion-img [src] = "model.imgurl"></ion-img>
       <ion-card-content>
        
        <p> {{model.description}}</p>
      </ion-card-content>
     </ion-card>
  </ion-col>
  </ion-row>

  <ion-row>
    <ion-label> S&P 500</ion-label>
    <div id="chartdiv" style="width: 100%; height: 130px"></div>
  </ion-row>
  <ion-row>
    <ion-label> NASDAQ</ion-label>
    <div id="chartdiv2" style="width: 100%; height: 130px"></div>
  </ion-row>
  <ion-row>
    <ion-label>DOW Jones Industrial</ion-label>
    <div id="chartdiv3" style="width: 100%; height: 130px"></div>
  </ion-row>

</ion-grid>
<!-- </ion-scroll> -->
</div>
</ion-content>
