.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.header{
  background-color: #314f91;
  img{
    background-color: #cfd9df;
    align-content: left;
    margin: none;
    height: 34px;
    mix-blend-mode: multiply;
  }
}
.wrap-tab1{
	background-image: linear-gradient(to top, #bfc2c7 0%, #314f91 100%);
	display: flex;
//  align-items: center;
  flex-direction: row;
	justify-content: center;
	height: 100%;
  overflow-y: scroll; 
}



  #align{
    text-align: center;
    font-size: 20px;
  }




