<ion-header>
  <ion-toolbar>
		<ion-title>
				<img src="assets/images/TrendzyLogo2.png"> 
		</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class= "wrap-tab1">
	<div class="pd-5 wrap-gallery-masonry">
	<ion-row>
		<ion-col>
		
			<div *ngFor="let stock of stocks1" (click)="openWebPage(stock.symbol)" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon20.jpg">
				<h2> {{ stock.symbol }} </h2>
			</div>
			
		</ion-col>
		<ion-col>
	
			<div *ngFor="let stock of stocks2" (click)="openWebPage(stock.symbol)" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon19.jpg">
				<h2> {{ stock.symbol }} </h2>
			</div>
			
		</ion-col>
		<ion-col>

			<div *ngFor="let stock of stocks3" (click)="openWebPage(stock.symbol)" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon14.jpg">
				<h2> {{ stock.symbol }} </h2>
			</div>
			
		</ion-col>
	</ion-row>
</div>
</div>
</ion-content>
