<ion-header>
  <ion-toolbar>
    <ion-title>
      News Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="pd-5 wrap-gallery-masonry">
	<ion-row>
		<ion-col>
			<div (click)="viewImg('lemon20.jpg.')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon20.jpg">
			</div>
			<div (click)="viewImg('lemon1.png')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon1.png">
			</div>
			<div (click)="viewImg('lemon11.jpg')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon11.jpg">
			</div>
			<div (click)="viewImg('lemon2.png')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon2.png">
			</div>
			<div (click)="viewImg('lemon12.jpg')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon12.jpg">
			</div>
			<div (click)="viewImg('lemon13.jpg')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon13.jpg">
			</div>
			<div (click)="viewImg('lemon15.pg')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon15.jpg">
			</div>
		</ion-col>
		<ion-col>
			<div (click)="viewImg('lemon18.jpg')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon18.jpg">
			</div>
			<div (click)="viewImg('lemon19.jpg')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon19.jpg">
			</div>
			<div (click)="viewImg('lemon3.png')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon3.png">
			</div>
			<div (click)="viewImg('lemon4.png')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon4.png">
			</div>
			<div (click)="viewImg('lemon14.jpg')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon14.jpg">
			</div>
			<div (click)="viewImg('lemon5.png')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon5.png">
			</div>
		</ion-col>
		<ion-col>
			<div (click)="viewImg('lemon6.png')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon6.png">
			</div>
			<div (click)="viewImg('lemon16.jpg')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon16.jpg">
			</div>
			<div (click)="viewImg('lemon17.jpg')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon17.jpg">
			</div>
			<div (click)="viewImg('lemon7.png')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon7.png">
			</div>
			<div (click)="viewImg('lemon.png')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon8.png">
			</div>
			<div (click)="viewImg('lemon20.jpg')" class="element-gallery pdt-5 pdb-5">
				<img src="assets/images/lemon20.jpg">
			</div>
		</ion-col>
	</ion-row>
</div>
</ion-content>
