<ion-content>
    <ion-button color="light" class="" (click)="backPage()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

  <div class="wrap-signup">
    <div class="main-form-signup pd-40">

        <div class="top-brand pdl-50 pdr-50">
            <img src="assets/images/TrendzyLogo2.png"> 
          </div>

          <div id="container"> 
        <br/>
        <br/>

        <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
            <ion-label> Email </ion-label> 
          <ion-item lines="none" id = "rounded">
            <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty" class=""></ion-input>
          </ion-item>      
          <div class="" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
            <p class="">Please enter a valid email.</p>
          </div>

          <br/>

          <ion-label> Password </ion-label> 
          <ion-item lines="none" id = "rounded">
            <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty" class=""></ion-input>
          </ion-item>
          
          <div class="" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
            <p class="">Your password needs more than 6 characters.</p>
          </div>

          <br/>

          <ion-button expand="block" shape="round" color="primary" type="submit">
            Register now!
          </ion-button>
        </form>
   
    </div>
    </div>

  </div>
</ion-content>
