.header{
	img{
		background-color: #cfd9df;
		margin: auto;
		height: 50px;
		mix-blend-mode: multiply;		
	}

  }

.wrap-signup{
	background-image: linear-gradient(to top, #bfc2c7 0%, #314f91 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: hidden;
	.main-form-signup{
		position: relative;
		z-index: 1000;
		form{
			ion-item{
				overflow: hidden;
			}
		}
	}
	.bg-signup{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		overflow: hidden;
	}
}