
<ion-content>
  <div class="wrap-signup">

    <div class="main-form-signup pd-40">
      <ion-button color="light" class="" (click)="backPage()">
        <ion-icon name="ios-close"></ion-icon>
      </ion-button>

      <div class="pd-20">

        <br/>
        <br/>
        

        <div class="">
          <h2 class="uppercase fw-900 spacing1 txt-light fs-30">Lemon</h2>
          <h2 class="fw-600 spacing1 txt-light fs-20">Create an Account</h2>
          <p class="fs-14 txt-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>

        <br/>
        <br/>
        <br/>
        <br/>

        <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
          
          <ion-item lines="none" class="bdra-30">
            <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty" class=""></ion-input>
          </ion-item>
          
          <div class="" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
            <p class="">Please enter a valid email.</p>
          </div>

          <br/>

          <ion-item lines="none" class="bdra-30">
            <ion-input formControlName="password" type="password" placeholder="Your password" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty" class=""></ion-input>
          </ion-item>
          
          <div class="" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
            <p class="">Your password needs more than 6 characters.</p>
          </div>

          <br/>

          <ion-button expand="block" shape="round" color="primary" type="submit">
            Create an Account
          </ion-button>
        </form>
      </div>
    </div>

    <div class="bg-signup">
      <img src="assets/images/lemon1.png">  
    </div>
  </div>
</ion-content>
